body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p {
    font-size 24px;
    padding-top: 10px;
    padding-left: 10px;
}